<section class="content-header">
  <h1>
    Players
    <small>List</small>
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to "<i class='fa fa-wheelchair'></i> Game".html_safe , admin_players_path  %></li>
    <li class="active">List</li>
  </ol>
  <br />
  <%#= render 'shared/error_messages' %>
</section>

<section class="content">
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">

      <div class="box-header">
        <h3 class="box-title">
           <%= link_to 'New Player', new_admin_player_path, class: "label label-primary" %>
        </h3>
        <br />
        <div class="box-body">
          <div class="table-responsive">
            <div id="example_wrapper" class="dataTables_wrapper" role="grid">
             

              <table id="game"  class="display">
                <thead>
                  <tr>
                    <th>Email</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Password</th>
                    <th>Password confirmation</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @admin_players.each do |admin_player| %>
                    <tr>
                      <td><%= admin_player.email %></td>
                      <td><%= admin_player.first_name %></td>
                      <td><%= admin_player.last_name %></td>
                      <td><%= admin_player.password %></td>
                      <td><%= admin_player.password_confirmation %></td>
                      <td><%= link_to 'Show', admin_player_path(admin_player) %></td>
                      <td><%= link_to 'Edit', edit_admin_player_path(admin_player) %></td>
                      <td><%= link_to 'Destroy', admin_player_path(admin_player), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>



