<div class="form-group">
  <label><%= f.label :text_panel%></label>
  <%= f.text_field :text_panel, :class => "form-control" %>
</div>
<div class="form-group">
  <label><%= f.label "Number Of Element" %></label>
  <%= f.number_field :num_of_element , :class => "form-control"  %>
</div>

<div class="form-group">
 <label><%= f.label "Color" %></label>
   <%= f.text_field :part_color, :class => "form-control part_color" %>
</div>

<div class="remove_link">
	<%= f.link_to_remove "Remove this WinningPart" ,:onclick => "remove_remove_link()"%>
</div>
<script type="text/javascript">
      $(".part_color").colorpicker();
</script>


<script type="text/javascript">

$( document ).ready(function() {
    remove_count += 1
    if (remove_count == 1)
    {
      $(".remove_link").hide();
    }
    else
    {
      $(".remove_link").show();
    }
   }); 
function remove_remove_link(){
  remove_count = remove_count - 1;
  if (remove_count == 1)
  {
    $(".remove_link").hide();
  }
  else
  {
    $(".remove_link").show();
  }
}

</script>
