<style type="text/css">

    .dragme {
        position:relative;
     /*   width: 270px;
        height: 373px; */
        cursor: move;
        background-color: #ccc;
        border: 1px solid #000;

        height: 40px;
        width: 40px;
        z-index: 100;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    #draggable {
        background-color: #ccc;
        border: 1px solid #000;
    }

    .elementCls {
      position:relative;
      height: 40px;
      width: 40px;
      z-index: 100;
    }
</style>

<section class="content-header">
  <h1>
    Assemble
    <small>Game</small>
  </h1>

  <br />
</section>
<section class="content">
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      
      <div class="box-header">
        <div class="box-body" id="boardId" >
<!--          <img src="<%= @game.game_image.url %>" alt="drag-and-drop image script" 
 title="drag-and-drop image script" class="dragme" id="img1Id"> -->
          <img src="<%= @game.game_image.url %>" alt="drag-and-drop image script" 
 title="drag-and-drop image script" id="img1Id"  style="float:left; width:70%;">
        <%= form_tag store_winning_part_cord_admin_winning_parts_path , :id => "store_cords" do %>
          <div style="float:left; width:30%;">
            <% @game.winning_parts.each do |parts| %>
                <div class="elementCls" style="background:<%= parts.part_color %>;width:20%;float:left;margin-bottom:10px;"> </div> <span style="width:80%;float:left;height:40px;margin-bottom:10px;padding-left:10px;"> Set in <%= parts.text_panel %> </span> 
            <% end %>  
          </div>
          <% @game.winning_parts.each do |parts| %>
            <%= hidden_field_tag parts.id , ""%>
            <% (1..parts.num_of_element).to_a.each do %>
              <div class="dragme <%= parts.id %>" title="drag-and-drop image script" draggable="true" style="background:<%= parts.part_color %>;"> </div>
             
            <% end %>
          <% end %>
          <% end %>
        </div>
        <!-- 
          <a href="#" onclick="addElement(this.id)" id="red" > Add Element Red </a>
          <a href="#" onclick="addElement(this.id)" id="green" > Add Element Green </a>
        -->
      </div>
      <div class="text-center pad-btm-20">
        <button type="button" onclick="saveElementPosition()" class="btn btn-primary">Save</button> 
      <%#=button_to "Save" ,:class=> "btn btn-primary txt-center",:onclick => "saveElementPosition()"  %>
      </div>
    
    </div>
  </div>
</div>
</section>

<script type="text/javascript">

        function saveElementPosition(){
          //alert("Save");
          
          <% @game.winning_parts.each do |parts| %>
            var arr_cords = new Array();
              $('.dragme.<%= parts.id %>').each(function(i, obj) {
                //test
                arr_cords.push([obj.offsetLeft,obj.offsetTop])
                
                //console.log("offset left" +obj.offsetLeft)
                //console.log("offset right" +obj.offsetTop)
                //alert(arr_cords)
                //alert("#<%=parts.id %>");
                //$("#<%=parts.id %>").val = arr_cords

              });
              hiddenFields = document.getElementById("<%= parts.id %>");
              alert(arr_cords)
              hiddenFields.value = arr_cords
          <% end %>
          $("#store_cords").submit();
        }
      function set_cord_location(){  
        <% @game.winning_parts.each do |parts| %>
          <% coords =  parts.coordinates.split(",") %>
          <% @count = 0 %>
          $('.dragme.<%= parts.id %>').each(function(i, obj) {
            alert("count<%=@count %>")
           alert(<%= coords[@count] %>)
          $(this).css({top: <%= coords[@count] %>, left: <%= coords[@count+1] %>})
          <% @count = @count  + 2 %>
        })
        <% end %> 
      }
      //set_cord_location();
        /*
        function addElement(elementId){
            //alert(elementId);
            board = document.getElementById("boardId");
            
            var d = document.createElement( 'div' );
            d.id = "id_" + elementId + 1;
            d.className = "elementCls";
            //board.innerHTML =  d;
            //d.innerHTML = i.innerHTML ;

            board.appendChild(d);
            document.onmousedown = startDrag;
            document.onmouseup = stopDrag;
        } */


        function startDrag(e) {
            // determine event object
            if (!e) {
                var e = window.event;
            }

            // IE uses srcElement, others use target
            var targ = e.target ? e.target : e.srcElement;

            //if (targ.className != 'dragme') {return};
            if (!targ.className.includes('dragme')) {return};
            // calculate event X, Y coordinates
                offsetX = e.clientX;
                offsetY = e.clientY;

            // assign default values for top and left properties
            if(!targ.style.left) { targ.style.left='0px'};
            if (!targ.style.top) { targ.style.top='0px'};

            // calculate integer values for top and left 
            // properties
            coordX = parseInt(targ.style.left);
            coordY = parseInt(targ.style.top);
            drag = true;

            // move div element
                document.onmousemove=dragDiv;

        }
        function dragDiv(e) {
            if (!drag) {return};
            if (!e) { var e= window.event};
            var targ=e.target?e.target:e.srcElement;
            t = targ;
            // move div element
            targ.style.left=coordX+e.clientX-offsetX+'px';
            targ.style.top=coordY+e.clientY-offsetY+'px';
            return false;
        }
        function stopDrag() {
            drag=false;
            a = document.getElementById("img1Id");
            //alert("X: " + a.offsetLeft + ", Y: " + a.offsetTop);
        }
        window.onload = function() {
            document.onmousedown = startDrag;
            document.onmouseup = stopDrag;
        }


</script>