<span class="left_panel">
  <div class="table">
    <%= render partial: 'index', locals: {index_arr: ApiIndexRenderer.user_api_index } %>
  </div>  
</span>
<span class='right_panel'>  
    <!-- Example <br>
    email: test@yopmail.com<br>
    password: 12345678<br>    -->         
</span>

<!-- Sign Up -->

<%= render partial: 'api', locals: {
        link_name: 'Sign Up', 
        link_href: 'sign_up',
        link_method: 'POST',
        original_link: api_signup_path,
        parameters: [
          {name: 'user[email]', description: 'Email Address of User', required: 1 },
          {name: 'user[password]', description: 'Password', required: 1},
          {name: 'user[first_name]', description: 'First Name', required: 0 },
          {name: 'user[last_name]', description: 'Last Name', required: 0},
          {name: 'avatar', description: 'Avatar', required: 0},
        ],
        options: {}} %>

<!-- Login Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Login', 
        link_href: 'login',
        link_method: 'POST',
        original_link: api_login_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 },
          {name: 'password', description: 'Password', required: 1},
        ],
        options: {}} %>


  <%= render partial: 'api', locals: {
        link_name: 'Update Profile', 
        link_href: 'update_profile',
        link_method: 'POST',
        original_link: api_update_profile_path,
        parameters: [  
          {name: 'authentication_token', description: 'Authentication Token', required: 1},
          {name: 'user[first_name]', description: 'First Name'},
          {name: 'user[last_name]', description: 'Last Name'},
        ],
        options: {}} %> 
<!-- Change Password Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Change Password', 
        link_href: 'change_password',
        link_method: 'POST',
        original_link: api_change_password_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'user[current_password]', description: 'Current Password', required: 1 },
          {name: 'user[password]', description: 'New Password', required: 1 },
          
        ],
        options: {}} %>

 <!-- Forgot Password Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Forgot Password Api', 
        link_href: 'forgot_password',
        link_method: 'POST',
        original_link: api_forgot_password_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 }
        ],
        options: {}} %>

<!-- Logout -->
  <%= render partial: 'api', locals: {
        link_name: 'Logout', 
        link_href: 'logout',
        link_method: 'GET',
        original_link: api_logout_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }
            
        ],
        options: {}} %>     

<!-- Get Games -->
  <%= render partial: 'api', locals: {
        link_name: 'Get Game List', 
        link_href: 'get_game_list',
        link_method: 'GET',
        original_link: api_get_game_list_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }
            
        ],
        options: {}} %>

<!-- Search Game -->
  <%= render partial: 'api', locals: {
        link_name: 'Search Game', 
        link_href: 'search_game',
        link_method: 'GET',
        original_link: api_search_game_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'game_id', description: 'Selected Game ID', required: 1 }            
        ],
        options: {}} %>   

<!-- Next Game Number -->
  <%= render partial: 'api', locals: {
        link_name: 'Get Next Game Number', 
        link_href: 'get_next_game_number',
        link_method: 'POST',
        original_link: api_get_next_game_number_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'room_id', description: 'Selected Room ID', required: 1 } ,
           {name: 'current_head', description: 'current head is define', required: 1 }
                  
        ],
        options: {}} %>   


        <!-- Next Game Number -->
  <%= render partial: 'api', locals: {
        link_name: 'Get Room User List', 
        link_href: 'get_room_user_list',
        link_method: 'POST',
        original_link: api_get_room_user_list_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'room_id', description: 'Selected Room ID', required: 1 } ,
                  
        ],
        options: {}} %>   

<!-- Check Winning Part-->
  <%= render partial: 'api', locals: {
        link_name: 'Check Winning Part', 
        link_href: 'checking_winning_part',
        link_method: 'POST',
        original_link: api_checking_winning_part_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'winning_part_id', description: 'Winning Part ID', required: 1 } ,
          {name: 'elements_list', description: 'elements in winning part', required: 1 },
          {name: 'current_index', description: 'current index', required: 1 },
          {name: 'room_id', description: 'Selected Room ID', required: 1 } 
                  
        ],
        options: {}} %>  



